@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,700|Montserrat:100,300,400,700,900');

body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.rating {
    font-family: sans-serif;
}

.wrapper {
    width: 70%;
    margin-left: 15%;
    margin-top: 100px;
}

.heading {
    text-align:center;
    margin: 60px;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h3 {
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    color: slategrey;
}

h4 {
    font-family: 'Archivo', sans-serif;
    letter-spacing: 2px;
    word-spacing: 4px;

}

.artist-name {
    color: slategrey;
    border-left: solid 1px slategrey;
    padding-left: 10px;
    font-size: 1.2em;
}

p {
    line-height: 1.8em;
}

h5 {
    margin-top: 60px;
    text-align: right;
    border-bottom: solid 1px #ddd;
}

img {
    width: 300px;
}

.rating {
    font-size: 2rem;
}

.album-block {
    border-bottom: solid 1px #ccc;
    padding-bottom: 30px;
    margin-bottom: 80px;
}
